/* GÉNÉRIQUE */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* ÉLÉMENTS */


body{

padding: 0;
margin: 0;

font-family: "Roboto", sans-serif;
font-size: 18px;
background-color: #eeeeee;
}

a{

text-decoration: none;
color: #000000;

}

h1{

 font-family: "Dosis", sans-serif;
 font-size: 50px;
 font-weight: bold;


text-align: center;
}

h2{

font-family: "Dosis", sans-serif;
font-size: 36px;
font-weight: bold;

color: #0E5EA1;

}

h3{

font-family: "Dosis", sans-serif;
font-size: 24px;
font-weight: bold;

}

/* COMPONENTS */

.wrapper{

max-width: 1280px;
margin: 0 auto;

}

.header{

background-color: #ffffff;

color: #000000;

padding-top: 16px;
padding-bottom: 16px;
}

.header .wrapper{

display: flex;
justify-content: space-between;
align-items: center;

}

.logo{

display: flex;
justify-content: space-between;
align-items: center;

gap:30px;

font-family: "Dosis", sans-serif;
font-size: 40px;
font-weight: bold;

color: #000000;
outline: none;

}

.menu{

display: flex;
gap: 30px;
list-style-type: none;
outline: none;
color: #000000;
font-weight: bold;
}

.menu a{
    padding: 10px;
}

.menu a:hover{

background-color: #0E5EA1;
color: #ffffff;
border-radius: 10%;

}

.hero{

background-image: url(../image/paysage_hero.jpg);
background-size: cover;
height: 450px ;

display: flex;
align-items: center;
justify-content: center;
}

.hero p {

font-family: "Dosis", sans-serif;
font-size: 24px;
font-weight: bold; 
}

.hero .wrapper{

  background: rgba(0, 0, 0, 0.6); 
  color: white;
  padding: 40px 60px;
  text-align: center;
  border-radius: 10px;

}

.contenu{

background-color: #eeeeee ;

}

.carte {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  
}

.carte article {
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;

  border-bottom: 4px solid  #0E5EA1;
}

.carte img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  margin-bottom: 20px;
}

.carte h3 {
  margin-bottom: 15px;
}

.carte p {
  flex-grow: 1;
  margin-bottom: 20px;
}

.carte a {

  align-self: center;  
  padding: 8px 18px;
  border-radius: 4px;

  background-color: #b7b7b7;
  color: #000000;

  font-family: "Dosis", sans-serif;
}

.carte a:hover {

background-color:#0E5EA1;
color: #ffffff;

}

.bannière{

margin: 80px;

}

.footer{

background-color: #000000;

}

.footer p {

color: #ffffff;

margin: 30px;
padding: 30px;

text-align: center;

}